<h1 class="mb-4 text-xl font-extrabold text-gray-900"><span class="text-transparent bg-clip-text bg-gradient-to-l to-emerald-600 from-sky-400">How to compute.</span></h1>
<ol class="relative text-gray-500 border-l border-gray-200">
    <li class="mb-2 ml-6">
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full -left-4 ring-4 ring-blue-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>

        </span>
        <h3 class="font-medium leading-tight">Step 1.</h3>
        <p class="text-sm">Navigate to 'Plot' tab</p>
    </li>
    <li class="mb-2 ml-6">
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full -left-4 ring-4 ring-blue-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>

        </span>
        <h3 class="font-medium leading-tight">Step 2.</h3>
        <p class="text-sm">Select the filename, column name & operation</p>
    </li>
    <li class="mb-2 ml-6">
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full -left-4 ring-4 ring-blue-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>

        </span>
        <h3 class="font-medium leading-tight">Step 3.</h3>
        <p class="text-sm">Click on 'Calculate' button</p>
    </li>
    <li class="mb-2 ml-6">
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-green-100 rounded-full -left-4 ring-4 ring-green-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
        </span>
        <h3 class="font-medium leading-tight">Done.</h3>
    </li>
</ol>